@charset "UTF-8";

/* GLOBAL.CSS | Global styles for MyBeanJar Puzzle */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #34B8F6;
}

p {
  margin: 0 0 1em;
  font-size: 60%;
  line-height: 125%;
}

p:last-child {
  margin: 0 0 0;
}

a {
  color: #c59a1e;
}

#puzzle-container {
  border-image: url(../img/ab-border003.png) 100 100 stretch;
  border-style: solid;
}

.hidden {
  display: none;
}

#puzzImg {
  width: 100%;
  height: 100% !important;
}

#puzz-outer {
  margin-bottom: 5%;
  width: 100%;
  height: auto;
}

.jqp-piece {
  background-size: 300%;
  width: 33.33%;
  height: 33.33%;
}

.jqp-background {
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.all-columns {
  width: 80%;
}

#hintbutton {
  position: relative;
  cursor: pointer;
  margin: 0% 15%;
  width: 70%;
}

#hintbutton:active {
  position: relative;
  cursor: pointer;
  margin: 0% 15.5%;
  width: 69%;
}

.jqPuzzle .jqp-wrapper {
  background-color: rgba(255,255,255,0.9) !important;
}

.jqp-wrapper {
  width: 100%;
  height: 100%;
}

.pg-page {
  height: 100%;
}

#puzz-outer
#ab-bg-container {
  padding-top: 10vh;
  height: 71vh;
}

#bam-title {
  position: absolute;
  z-index: 5;
  display: block;
  margin: 0% 10%;
  top: 0;
  width: 80%;
}

.ab-bg-container {
  position: absolute;
  display: block;
  z-index: -5;
  background: url(../img/ab-bg002.jpg);
  background-size: cover;
  width: 100%;
  height: inherit; 
}

#bg-container-outer {
  display: none;
}

.ab-bg-accents {
  position: absolute;
}

#accent-upperright {
  top: 0;
  right: 0;
}

#accent-lowerleft {
  bottom: 0;
  left: 0;
}

/* BUTTONS *****************************************************************************************/

.btn-ab {
  margin: 0 auto;
  display: block;
  font-family: 'Bangers', cursive;
  font-size: 1.3rem;
  border: none;
}

.btn-ab:focus {
  outline: none;
}

.btn-ab-r {
  background: url(../img/ab-sbubb-r-clr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 1.3rem;
}

.btn-ab-r:hover {
  background: url(../img/ab-sbubb-r-act.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-ab-l {
  background: url(../img/ab-sbubb-l-clr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 1.1rem;
}

.btn-ab-l:hover {
  background: url(../img/ab-sbubb-l-act.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/***************************************************************************************************/



/* APP PAGES ***********************************************************************************/

.content {
  height: 100%;
}

#title-page {
  display: block;
  z-index: 99;
  position: relative;
}

.title-bits {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.title-bits div {
  margin: 5% auto;
}

.title-bits img {
}

#ios-buffer {
  display: none;
}

.intro {
  height: 100%;
}

#intro01 {
  display: block;
}

#intro02 {
  display: none;
}

#puzzle-page {
  display: none;
}

.start-large-logo {
/*  max-width: 100%;
  max-height: 22vh;*/
  width: 30vh;
}

.start-ab-logo {
  margin-top: 5%;
}

.start-cbldf {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  max-width: 100%;
}

.start-cbldf-logo {
  flex-grow: 1;
  flex: 1;
  width: 100%;
  height: 100%;
}

.start-cbldf-descrip {
  flex-grow: 3;
  font-family: 'komika-disp', cursive;
  font-size: 0.75rem;
  color: #ffffff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  letter-spacing: 0.05rem;
  flex: 2;
}

.start-buttons {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@font-face {
  font-family: komika;
  src: url(../font/komika.ttf);
}

@font-face {
  font-family: komika-disp;
  src: url(../font/komika-disp.ttf);
}

/***************************************************************************************************/


#hintloader {
  background-color: #ffffff;
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 5;
  pointer-events: none;
}

#hintloader img {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  position: relative;
}







@media all and (max-width: 600px) and (orientation:portrait) {
  /* Mobile portrait */

  body {
    background-color: #493c41;
  }

  #app {
    position: relative;
    height: 100%;
    /* 16 of 16:9; */
    /*width: 39.375vw; */
    /*  9 of 16:9; */
    overflow: hidden;
  }

  .container {
    width: 70vw;
    /* Necessary to maintain 1:1 ratio of inner container */
    height: 70vw;
  }

  .ab-bg-accents {
    max-height: 100%;
  }

  .btn-ab {
    width: 63vw;     /* 70vw */
    height: 19.467vw; /* Must be 30.9% of height */
  }

  /* Title screen exception */
  .title-element .btn-ab {
    width: 100%;
    height: 20vmin;
  }

  .title-bits{
    height: 80%;    /* Crude fix for iOS Safari's nav footer issue */
  }

  .pg-page {
    height: 100% !important;
    display: none;
  }

  .mbj-footer {
    font-size: 5vw;
  }

  #puzz-outer,
  #ab-bg-container {
    /*height: 82vh;*/
  }

  #puzzImg,
  .jqp-wrapper,
  #hintloader {
    height: 70vw !important;
    width: 70vw;
  }

  #puzzle-container {
    border-width: 15vw;/* Must equal 1/2 of remainder of height and width described immediately above */
  }

  .start-large-logo {
    width: 75vw;
  }

  .footer-header-strip {
    font-size: 2vh;
  }
}

@media all and (orientation:landscape) {
  /* Desktop landscape */

  body {
    font-size: 3vh !important;
  }

  #app {
    position: relative;
    height: 70vh;
    /* 16 of 16:9; */
    width: 39.375vh;
    /*  9 of 16:9; */
    border: 3vh solid #fff;
    overflow: hidden;
    margin: 5vh auto;
    box-sizing: content-box;
    border-radius: 4vh;
    border-bottom: 10vh solid #fff;
    border-top: 10vh solid #fff;
    box-shadow: 1.5vh 1.5vh 0px 0.5vh rgba(0,0,0,0.5);
  }

  .container,
  #hintloader {
    width: 24.5vh;
    /* Necessary to maintain 1:1 ratio of inner container */
    height: 24.5vh;
  }

  .ab-bg-accents {
    max-height: 100%;
  }

  #bg-container-outer {
    display: block;
  }

  .btn-ab {
    width: 22.05vh;
    height: 6.81345vh;       /* Must be 30.9% of height */
  }

  /* Title screen exception */
  .title-element .btn-ab {
    width: 100%;
    height: 8vmin;
  }

  #puzzle-container {
    border-width: 7.25vh; /* Must equal 1/2 of remainder (relative to real/simulated viewport) of height and width described immediately above */
  }

  #hintbutton:active {
    margin-top: 1px;
  }

  .mbj-footer {
    font-size: 2vh;
  }
}

@media all and (min-width: 600px) and (orientation:portrait) {
  /* Desktop portrait */

  body {
    font-size: 3vw !important;
  }

  #app {
    position: relative;
    height: 70vw;
    /* 16 of 16:9; */
    width: 39.375vw;
    /*  9 of 16:9; */
    border: 3vw solid #fff;
    overflow: hidden;
    margin: 5vw 22.6875vw;
    box-sizing: content-box;
    border-radius: 4vw;
    border-bottom: 10vw solid #fff;
    border-top: 10vw solid #fff;
    box-shadow: 1.5vw 1.5vw 0px 0.5vw rgba(0,0,0,0.5);
  }


  .container,
  #hintloader {
    width: 21.87vh;
    /* Necessary to maintain 1:1 ratio of inner container */
    height: 21.87vh;
  }

  .ab-bg-accents {
    max-width: 100%;
  }

  #bg-container-outer {
    display: block;
  }

  .btn-ab {
    width: 24.3vh;
    height: 6.75783h;       /* Must be 30.9% of height */
  }

  /* Title screen exception */
  .title-element .btn-ab {
    width: 100%;
    height: 8vmin;
  }

   #puzzle-container {
    border-width: 7.25vh; /* Must equal 1/2 of remainder (relative to real/simulated viewport) of height and width described immediately above */
  }

  .start-large-logo {
/*    max-width: 100%;
    max-height: 22vh;*/
  }

  .mbj-footer {
    font-size: 1.75;
  }
}
